@import "bootstrap";

@import "font-awesome";


// Core variables and mixins
@import "app/fonts";
@import "app/colours";
@import "app/globals";
@import "app/structure";
@import "app/typography";

html {
	height: 100%;
	width: 100%;
	color: $primary;
	background: $tertiary;
}