.cols-2 {
	-moz-column-rule: 0px solid;
	-webkit-column-rule: 0px solid;
	column-rule: 0px solid;

	-moz-columns: 2 3em;
	-webkit-columns: 2 3em;
	columns: 2 3em;

	height: auto;
	overflow: auto;
	text-align: justify;
}